<li>
	{{item}}

	<button class="change-status" data-id="{{id}}" data-newsleep="{{done}}">
		{{#if done}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-item" data-id="{{this.id}}">DELETE!</button>
</li>
