<li class="p-0 list-group-item list-group-item-action {{#if done}}list-group-item-secondary{{else}}list-group-item-success{{/if}}">

    <span class="{{#if done}}todo-do{{else}}todo-fin{{/if}}">
    <span class="todo-num font-weight-light">{{this.id}}.&nbsp;</span>
    <span class="todo-name font-weight-bold">{{this.item}}</span>
    </span>

    {{!-- data-id="{{id}}" refers to the database table id: of this item --}}
    {{!-- data-newstatus="{{done}}" represents the done: status of the item --}}
    <button class="mr-0 pr-3 font-weight-bold rounded-0 border-0 change-status btn btn-sm float-right {{#if done}}btn-outline-secondary{{else}}btn-outline-secondary{{/if}}" data-id="{{id}}" data-newstatus="{{done}}">{{#if done}}do it{{else}}add to list{{/if}}
    </button>

    {{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
        {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
    </button> --}}

    {{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
